
$heading-font-weights: (
	"Thin": 100,
	"Light": 300,
	"Regular": 400,
	"Medium": 500,
	"SemiBold": 600,
	"Bold": 700,
	"Heavy": 800,
	"Black": 900
); //
$body-font-weights: (
	"Thin": 100,
	"Light": 300,
	"Regular": 400,
	"Medium": 500,
	"SemiBold": 600,
	"Bold": 700,
	"Heavy": 800,
	"Black": 900
); //
//
$font-thin: map-get($heading-font-weights,Thin); //
$font-light: map-get($heading-font-weights,Light); //
$font-regular: map-get($heading-font-weights,Regular); //
$font-medium: map-get($heading-font-weights,Medium); //
$font-semibold: map-get($heading-font-weights,SemiBold); //
$font-bold: map-get($heading-font-weights,Bold); //
$font-heavy: map-get($heading-font-weights,Heavy); //
$font-black: map-get($heading-font-weights,Black); //

// Base font
/*
	Use font-include for single fonts
	and font-list for a list using the $*-font-weights list
*/
$heading-font: "Comic Sans MS"; //
$heading-font-name: "ComicSans-"; //
$heading-font-family: #{$heading-font},sans-serif; //
//
/* embed sing font weight */
//@include font-include($heading-: ;font,$heading-font-name,normal,normal);
//
/* embed font family as list */
//@include font-list($heading-font,$heading-font-name,$heading-font-weights,normal); //
.heading-font-family, %heading-font-family{
	font-family: $heading-font-family;
}
//
$body-font: "Times New Roman"; //
$body-font-name: "TimesNewRoman"; //
$body-font-family: #{$body-font},sans-serif; //
/* embed sing font weight */
//@include font-include($body-font,$body-font-name,normal,normal);
//
/* embed font family as list */
//@include font-list($body-font,$body-font-name,$body-font-weights,normal); //

.body-font-family, %body-font-family{
	font-family: $body-font-family; font-weight: normal;
}
